@import 'variables';
@import '~@fortawesome/fontawesome-free/css/all.min.css';
@import url('https://fonts.googleapis.com/css2?family=Lora&family=Lato&display=swap');

body {
background: #0a4457 !important;
margin-top: 100px;
}

code {
  font-family: 'Lora', serif;
}

.form {
  background-color: white;
  width: 40rem;
  margin: auto;
  font-family: 'Lora', serif;
  border-radius: 50px;
  padding: 30px;
}

#formGroup {
  margin: auto;
  padding: 10px;
  width: 30rem;
}

#artist-label {
  margin-top: 25px;
}

Button {
  margin-top: 30px;
  margin-left: 55px;
}

#artistInfo {
  text-align: center;
  font-family: 'Lora', serif;
  color: white;
  margin: 30px;
}

#contentContainer {
  white-space: pre-line;
  font-family: 'Lora', serif;
  color: white;
  text-align: center;
  margin: 30px;
}
