@import 'variables';
@import '~@fortawesome/fontawesome-free/css/all.min.css';
@import url('https://fonts.googleapis.com/css2?family=Lora&family=Lato&display=swap');

#artistInfo {
  text-align: center;
  font-family: 'Lora', serif;
  color: white;
  margin: 30px;
}

#contentContainer {
  white-space: pre-line;
  font-family: 'Lora', serif;
  color: white;
  text-align: center;
  margin: 30px;
}
